.alphabet {
  width: 30 px;
  min-height: 100%;
}
.alphabet ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
  transition-duration: 0ms;
  transform: translate(0px, 0px) translateZ(0px);
}
.alphabet li {
  cursor: pointer;
  padding: 4 px 0;
}
